/* css */

body {
	margin: 0 auto;
}

.displayNone {
	display: none;
}
.special {
	color: blue;
} 
.colorRed {
	color: red;
}
.colorGreen {
	color: green;
}
.colorBlue {
	color: blue;
}
.textBold {
	font-weight: bold; 
}
.textItalic {
	font-style: italic;
}

/* tab panels - tut 05 */

.tab-panels ul {
	margin: 10px 0 0; 
	padding: 0;
}

.tab-panels ul li {
	list-style-type: none;
	display: inline-block;
	background: #999;
	margin: 0;
	padding: 3px 10px;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-weight: 200;
	cursor: pointer;
}

.tab-panels ul li:hover {
	color: #fff;
	background: #666;
}

.tab-panels ul li.active {
	color: #fff;
	background: #666;
}

.tab-panels .panel {
	display: none;
	background: #c9c9c9;
	padding: 30px;
	border-radius: 0 0 10px 10px;
}

.tab-panels .panel.active {
	display: block;
}

/* tutorial #6 */

#slider {
	width: 640px;
	height: 480px;
	overflow: hidden;
}
#slider .slides {
	display: block;
	width: 3840px;
	height: 480px;
	margin: 0;
	padding: 0;
}
#slider .slide {
	float: left;
	list-style-type: none;
	width: 640px;
	height: 480px; 
}
ul#friendsList li {
	background-color: #eee;
	margin-bottom: 5px;
	padding: 5px;
	width: 500px;
	list-style: none;
}
ul#friendsList li p {
	margin: 0 0 3px 0;
}

/* edit api */
ul li .editInput {
	display: none;
}
ul li.editInput .editInput {
	display: initial;
}
ul li.editInput .noEdit {
	display: none;
}